form {
    width: 400px;
}

.field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}

.field > span {
   font-weight: 700;
}

input:valid {
    border: 1px solid green;
}

input:invalid {
    border: 1px solid red;
}

.result {
    font-weight: 700;
    font-size: 18px;
}