/* general */
.container {
    width: 100%;
    max-width: 768px;
    margin: 20px auto;
    font-family: sans-serif;
    font-size: 16px;
}

.flx {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 40px 0;
}

ul {
    padding-left: 0;
}

li  {
    list-style: none;
    margin-bottom: 7px;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#3d3d3dd1;
}

.modal-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.hidden {
    display: none;
}

button, input {
    padding: 10px;
    border-radius: 4px;
    border: none;
}

button {
    cursor: pointer;
    text-align: center;
}

input {
    background-color: #e3e3e3;
    padding: 10px;
    border-radius: 4px;
}

._edit-button {
    cursor: pointer;
}

/* logo */
.logo-container {
    position: relative;
}

.logo {
    height: 90px;
}

.logo > img {
    height: 100%;
}

._logo-modal {
    text-align: center;
}

._logo-modal .modal-content {
    position: relative;  
    padding-top: 50px;
}

.close-modal-button {
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 6px 10px;
}

._logo-modal .or {
    margin: 10px 0;
}

._edit-logo-button {
    position: absolute;
    bottom: 0;
    left: 100%;
}

/* nav */
.nav-container {
    display: flex;
    align-items: center;
}

._edit-nav-button {
    margin-right: 15px;
}

.nav li { 
    display: inline-block;
}

.nav li:not(:last-child) {
    margin-right: 1em;
}

.nav li a {
    text-decoration: none;
    color: #3d3d3d;
} 

/* courses */
.courses {
    flex: 1.5;
}

.courses h2 {
    margin: 12px 0;
}

.courses-list li {
    width: calc(100% / 3 - 8px);
    min-width: 80px;
    display: inline-block;
    text-align: center;
}

.courses-list li:not(:nth-child(3n+3)) {
    margin-right: 12px;
}

.courses-list img {
    width: 100%;
} 

.courses-list h5 {
   margin: 0;
}

/* news */
.news-container {
    flex: 2;
    margin-left: 80px;
    padding-top: 40px;
    position: relative;
}

.news-list {
    margin: 0;
}

.news-list li {
    padding: 15px;
    background-color: #e3e3e3;
    border-radius: 4px;
}

.news-list h2 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.news-list span {
    cursor: pointer;
    float: right;
}

.news-content {
    margin: 20px 0;
}

._edit-news-button {
   position: absolute;
   top: 0;
   left: 0;
}